# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'AllYourBase'
      'submenu': [
        { 'label': 'Base 64 Encode', 'command': 'base64:encode' },
        { 'label': 'Base 64 Decode', 'command': 'base64:decode' },
        { 'label': 'Base 58 Encode', 'command': 'base58:encode' },
        { 'label': 'Base 58 Decode', 'command': 'base58:decode' }
      ]
    ]
  }
]
